* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
.top-buttom-margin {
  margin: 2.8rem 0;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.hero-video {
  transition: opacity 0.4s ease-in-out;
}

/* nav  */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #0000009b;
  backdrop-filter: blur(3px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1.5rem;
  user-select: none;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav logo content   */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.logo h2 {
  /* font-size: 1.4rem;
  margin: 0rem;
  font-weight: 600;
  color: rgba(193, 125, 30, 0.967);
  font-family: "Story Script", sans-serif; */

  font-family: "Story Script", sans-serif;
  font-size: 1.2rem;
  margin: 0rem;
  font-weight: 600;
  font-style: normal;
  color: rgba(255, 255, 255, 0.773);
}
.logo img {
  width: 3.3rem;
  height: 3.4rem;
  margin-right: 0.4rem;
  object-fit: cover;
}

/* both */
.gap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carde {
  width: 49%;
  height: 22rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
}

.carde video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.carde:hover {
  transform: scale(1.02);
  backdrop-filter: blur(18px);
  box-shadow: 5px 5px 20px rgba(228, 225, 211, 0.2),
    -5px -5px 20px rgba(236, 235, 227, 0.516);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

/* nav section content  */
#nav-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
#nav-section a {
  font-size: 0.9rem;
  padding-right: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #e9e3e3eb;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  position: relative;
}

#nav-section a:hover,
#nav-section a.active {
  color: rgba(221, 122, 18, 0.622);
}

/* nav-right button */
#nav-section .btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.4rem 1.2rem;
  margin: 0 0.4rem;
  background-color: rgba(193, 125, 30, 0.967);
  border: none;
}
#nav-section .btn:hover {
  color: #fefbfb94;
}

.btn:hover {
  background-color: rgba(163, 112, 41, 0.835);
  color: #fefbfb92;

  transition: 0.3s ease-in-out;
  border: none;
}
#nav-section .btn:active {
  background-color: rgba(148, 137, 38, 0.792);
  color: #383333;

  border: none;
}

#bars,
#close {
  display: none;
}
.three-bar {
  display: none;
}
.side-logo {
  display: none;
}
.visit {
  display: none;
}

.nav-location {
  display: none;
}

/* animation  */
.ani {
  opacity: 0;
  transform: translateY(30px);
  animation: slider 13s ease forwards;
}
@keyframes slider {
  0% {
    transform: translateY(39px);
    backdrop-filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    backdrop-filter: blur(0px);
    opacity: 1;
  }
}
.ani2 {
  opacity: 0;
  animation: slide 6s ease forwards;
}
@keyframes slide {
  0% {
    opacity: 0;
    backdrop-filter: blur(10px);
  }
  100% {
    opacity: 1.3;
    backdrop-filter: blur(0px);
  }
}

/* hero section  */
.background-viedo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  z-index: 1;
  padding: 0 1.5rem;
}
/* background-viedo  */
.background-viedo video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

/*  text and buttons on video section  style */
.background-viedo p {
  font-size: 0.8rem;
  margin-bottom: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  color: rgba(193, 125, 30, 0.967);
}
.background-viedo h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.background-viedo span a {
  padding: 0.6rem 1.1rem;
  margin: 0 0.4rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

/* background-viedo infront color chenge   */
.btn {
  color: white;
  border: 1px solid rgba(193, 125, 30, 0.967);
  background-color: rgba(193, 125, 30, 0.967);
}
.tr {
  background-color: transparent;
}

.chenging-left {
  position: absolute;
  top: 50%;
  left: 2%;
  font-size: 1.8rem;
  color: rgba(193, 125, 30, 0.967);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;

  cursor: pointer;
  user-select: none;
}
.chenging-right {
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 1.8rem;
  color: rgba(193, 125, 30, 0.967);

  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
}
.chenging-left:hover {
  background-color: #0e0d0de6;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(193, 125, 30, 0.967);
}
.chenging-right:hover {
  background-color: #0e0d0de6;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(193, 125, 30, 0.967);
}
/* card-section */
.content-first-card-section {
  z-index: 1;
  position: relative;
  padding: 20px;
  background-color: rgb(21, 21, 21);
  width: 100%;
}
/* card  */
.recreat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  border: none;

  margin-bottom: 2rem;
  border: 1px solid rgba(193, 125, 30, 0.967);
  /* background-color: transparent; */
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 0 8px 25px rgba(181, 170, 170, 0.25);
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: 0.7rem;
  background: rgba(248, 240, 240, 0.914);
  backdrop-filter: blur(12px);
  overflow: auto;
}

.card:hover {
  transform: scale(1.01);
  backdrop-filter: blur(5px);
  border-radius: 1.6rem;
  box-shadow: 0 8px 30px rgba(242, 239, 236, 0.729);
}
.card-head-one {
  font-size: 1.8rem;
  padding-bottom: 1rem !important;
  font-family: "plus jakarta sans", sans-serif;
  color: #e1dcdcef;
}
.card-head-one b {
  font-size: 3rem;
  color: rgba(193, 125, 30, 0.967);
  font-family: "Story Script", sans-serif;
}
.card-img-top {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.card b {
  color: rgba(193, 125, 30, 0.967);
  font-family: "Story Script", sans-serif;
}

/* alart  */
.alert-box {
  width: 300px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.4s;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.alert-box h2 {
  margin-bottom: 10px;
  color: #73fb6e;
}
.alert-box p {
  color: #fff;
  
}
.alert-box p b{
  color: rgba(7, 4, 1, 0.967);
}

.alert-box.show {
  transform: translate(-50%, -50%) scale(1);
}


.alert-box button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card-body {
  padding: 0.5rem;
  text-align: center;
}

.card-text {
  font-family: "plus jakarta sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1e1ed8;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
/* scroleanimation  */
.animationscrol {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* benner-section */
.second-card {
  height: 30rem;
}
.second-card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* card-text-section  */
.card-texted {
  height: 23rem;
  overflow: hidden;
}
.card-texted img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.card-texts {
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding: 0 1rem;
}
.para-section {
  color: #e1dcdcef;
}
/* .content */
.left-text-content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  text-align: start;
  color: #e1dcdcef;
}
.left-text-content li {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 0.5rem 0;
}
.left-text-content a {
  color: #e1dcdcef;
  text-decoration: none;
}
.left-text-content li i {
  margin: 0.1rem 0.6rem;
  font-size: 1.2rem;
}
.left-text-content a:hover {
  text-decoration: underline;
}
/* form  */
form input,
form textarea {
  background-color: transparent !important;
  color: #e1dcdcef !important;
}

/* service-card-section  */

.cardee {
  width: 49%;
  height: 22rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.link-travel {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
.cardee video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.cardee:hover {
  transform: scale(1.02);
  backdrop-filter: blur(18px);
  box-shadow: 5px 5px 20px rgba(228, 225, 211, 0.2),
    -5px -5px 20px rgba(236, 235, 227, 0.516);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

/* footer  */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: rgba(24, 202, 36, 0.821);
  text-decoration: underline;
}
#bars,
#close {
  display: none;
}

/* ratting  */
.retting-store {
  position: relative;
  width: 100%;
  margin: 4rem auto;
  overflow: hidden;
}

.sli {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.ratteing-con {
  flex: 0 0 90%;
  background-color: #1c1b1b;
  border: 1px solid rgba(193, 125, 30, 0.967);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.store-star {
  color: rgba(193, 125, 30, 0.967);
  margin-bottom: 1rem;
}

.by-ratting {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.stor-img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.arro-left,
.arro-right {
  font-size: 2rem;
  color: rgba(193, 125, 30, 0.967);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
  z-index: 10;
}

.arro-left {
  left: 15px;
}

.arro-right {
  right: 15px;
}

.arro-left:hover,
.arro-right:hover {
  color: #f1b44c;
}
.stor-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #e1dcdcef;
  padding-top: 1.1rem;
}

/* responsive  */
@media (max-width: 668px) {
  #nav-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    background-color: #000000e0;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: start;
    padding-top: 0.3rem;
    transform: translateX(-100%);
    transition: 0.6s ease;
    z-index: 200;
  }

  #nav-section.active {
    transform: translateX(0); /* Slide in */
  }

  #nav-section li {
    flex-direction: column;
    width: 100%;
  }

  #nav-section li {
    width: 100%;
    margin: 0.2rem 0.3rem;
    padding: 0.2rem 0;
  }

  #nav-section li:hover {
    background-color: #fffefe1c;
    border-radius: 0.5rem;
  }

  #nav-section a {
    padding: 1.5rem 2rem;
    font-size: 1rem;
    width: 100%;
  }
  .side-logo {
    display: flex;
  }

  #nav-section .btn {
    margin: 1.2rem 1rem;
    width: 85%;
  }

  .three-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #close {
    font-size: 1.8rem;
    color: rgba(193, 125, 30, 0.967);
    cursor: pointer;
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  #bars {
    font-size: 1.5rem;
    color: rgba(193, 125, 30, 0.967);
    cursor: pointer;
    display: block;
  }

  /* When active show */
  .nav-section.active li {
    display: flex;
  }

  .nav-location {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.6rem;
    color: #ffffffdc;
    width: 100%;
  }
  .nav-location h2 b {
    color: rgba(193, 125, 30, 0.967);
    font-size: 1.6rem;
    margin-left: 1.5rem;
    margin-bottom: 0.3rem;
  }
  .background-viedo p {
    font-size: 0.7rem;
  }
  .background-viedo h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  /*button on video section  style */

  .background-viedo span a {
    padding: 0.6rem 0.7rem;
    margin: 0 0.4rem;
    font-size: 0.7rem;
  }

  .card-head-one {
    font-size: 1rem;
    padding-bottom: 1rem !important;
    font-family: "plus jakarta sans", sans-serif;
    color: #e1dcdcef;
  }
  /* card-text  */

  .card-text {
    font-size: 1rem;
  }

  .card-head-one b {
    font-size: 2rem;
    color: rgba(193, 125, 30, 0.967);
    font-family: "Story Script", sans-serif;
  }

  .chenging-left,
  .chenging-right {
    display: none;
  }

  /* card   */

  .card-img-top {
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  /* map  */
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  /* banner */
  .second-card img {
    height: 60%;
  }
}
