* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
.top-buttom-margin {
  margin: 2.8rem 0;
}
/* nav  */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #0000009b;
  backdrop-filter: blur(3px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav logo content   */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.logo h2 {
  font-size: 1.4rem;
  margin: 0rem;
  font-weight: 600;
  color: rgba(24, 202, 36, 0.821);
  font-family: "Story Script", sans-serif;
}
.logo img {
  width: 3.4rem;
  padding-bottom: 0.8em;
  object-fit: cover;
}

/* nav section content  */
.nav-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.nav-section a {
  font-size: 0.9rem;
  padding-right: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #e9e3e3eb;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.nav-section a:hover {
  color: rgba(24, 202, 36, 0.821);
}
/* nav-right button */
.nav-section .btn {
  color: rgba(0, 0, 0, 0.888);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.4rem 1.2rem;
  margin: 0 0.4rem;
  background-color: rgba(24, 202, 36, 0.821);
  border: none;
}
.nav-section .btn:hover {
  background-color: rgba(25, 159, 32, 0.821);
  color: #281515;
  transition: 0.3s ease-in-out;
  border: none;
}
.nav-section .btn:active {
  background-color: rgba(148, 137, 38, 0.792);
  color: #383333;

  border: none;
}
/* animation  */
.ani {
  opacity: 0;
  transform: translateY(30px);
  animation: slider 13s ease forwards;
}
@keyframes slider {
  0% {
    transform: translateY(39px);
    backdrop-filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    backdrop-filter: blur(0px);
    opacity: 1;
  }
}
.ani2 {
  opacity: 0;
  transform: translateY(30px);
  animation: slide 4s ease forwards;
}
@keyframes slide {
  0% {
    opacity: 0;
    backdrop-filter: blur(10px);
  }
  100% {
    opacity: 1.3;
    backdrop-filter: blur(0px);
  }
}

/* hero section  */
.background-viedo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  z-index: 1;
  padding: 0 1.5rem;
}
/* background-viedo  */
.background-viedo video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

/*  text and buttons on video section  style */
.background-viedo p {
  font-size: 0.8rem;
  margin-bottom: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  color: rgba(24, 202, 36, 0.821);
}
.background-viedo h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.background-viedo span a {
  padding: 0.6rem 1.1rem;
  margin: 0 0.4rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.chenging-left {
  position: absolute;
  top: 50%;
  left: 2%;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;

  cursor: pointer;
  user-select: none;
}
.chenging-right {
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
}
.chenging-left:hover {
  background-color: #0e0d0de6;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(24, 202, 36, 0.821);
}
.chenging-right:hover {
  background-color: #0e0d0de6;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(24, 202, 36, 0.821);
}
.content-first-card-section {
  z-index: 1;
  position: relative;
  padding: 20px;
  background-color: rgb(236, 219, 219);
}
/* card  */
.card {
  border: none;
  margin-bottom: 2rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card-head-one {
  font-size: 1.8rem;
  padding-bottom: 2rem !important;
  font-family: "plus jakarta sans", sans-serif;
  color: #240303eb;
}
.card-head-one b {
  font-size: 3rem;
  color: rgba(24, 202, 36, 0.821);
  font-family: "Story Script", sans-serif;
}
.card-img-top {
  width: 100%;
  height: 19rem;
  border-radius: 1rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.card-body {
  padding: 0.5rem;
  text-align: center;
}
.card-text {
  font-family: "plus jakarta sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #240303eb;
}
